<h1>Pages#home</h1>

<img src="Band Photo 2017 - HIRES.jpg" />

<div class="booyah-box col-10 offset-1">
  <p>
    "T.S Frajeri" was formed in 2005 with the intention of expanding the tambura culture within Canada and beyond. Its musicians were all born and raised in Canada with strong Croatian roots, and are very dedicated to ensuring that the tambura sound and culture in Canada remains authentic and represented properly. With an exuberant, versatile and fun style, this talented seven-member band is well received at all events and is sure to leave a lasting impression at yours. “TS Frajeri” is available for all types of occasions including weddings, private parties and banquets.
  </p>
</div>